
h1{
    padding-block-end: 20px;
}

.logo1{
    width: 140px;
    padding-inline-start: 25vi;
}

table{
    display:flex;
    justify-content: center;
}

td{
    padding-block: .5vi;
    padding-inline: .5vi;
    border-block-end: 2px solid var(--accent1)
}

th{
    font-size:20px;
    text-decoration: underline var(--accent2) ;
    border: 3px solid var(--accent1)
}

#blender{
    width:50vi;
    display: flex;
    justify-content: center;
    margin-inline: auto;
    border: 5px solid;
    border-image: linear-gradient(to bottom right, var(--accent1) 25%, var(--accent2) 100%) 1;
    padding: 0; 
}

@media screen and (min-width: 768px){
    main{
        display: grid;
        grid-template-columns: repeat(2, 47vi);
        grid-template-rows: 1fr 20px 1fr 1fr;
    }
    .section2 p{
        margin-inline: 0;
        margin:auto;
    }
    #blender{
        display: block;
        margin: auto;
        width:400px;
        grid-column: 1;
        grid-row: 3;
    }
    
    #ThreeD{
        grid-column: 2;
        grid-row: 3;
    }
    #Editing{
        grid-column: span 2;
    }
}